html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

/* Part 4 */

ul {
  list-style-type: square;
}

li li:last-child {
  color: blueviolet;
  font-weight: 800;
}